body {
	background: #0267C1;
}

h1 {
	font-size: 50px;
	text-align: center;
	color: #fff;
	margin-top: 200px;
	margin-bottom: 10px;
}

input {
	
	margin: 0 auto;
	border-radius: 5px;
	background: #F17105;
	color: #fff;
	outline: 0;
}

#gameBox {

	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}	


#start {
	width: 300px;
	font-size: 3em;
	text-align: center;
}

#results {
	margin-top: 20px;
	font-size: 30px;
	text-align: center;
	color: #fff;
}